.sider {
  max-height: 75vh;
}
.imgContainer {
  scrollbar-color: #760fc6 var(--main-bg);
  overflow-y: auto;
  max-height: calc(100% - 100px);
  scrollbar-width: thin;
  padding: 0 10px;
}
.imgRow {
  margin-top: 10px;
}

.img {
  border-radius: 5px;
  object-fit: cover;
  aspect-ratio: 1/1;
}
.displayContainer {
  background-image: var(--main-bg-t);
}
.mainImgContainer {
  height: 48vh;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 10px;
  border: var(--border-w) solid var(--border-color);
  background: var(--main-bg);
}
.imgTitle {
  padding: 0.5rem 1rem;
  margin: 0 !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #1e2534;
  border-bottom: var(--border-w) solid var(--border-color);
}
.mainImg {
  border-radius: 15px;
  padding: 10px;
  object-fit: cover;
}
.empty {
  margin-top: 1rem;
}


