.header {
  padding: 1rem 10rem;
  height: 64px;
  background-image: var(--header-bg);
  border-bottom: var(--boder-w) solid var(--boder-color);
}
.title {
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
}
.menu {
  margin-left: 3rem;
  border-radius: 10px;
  background-color: #4A0C7B;
}
.main {
  padding: 2rem 10rem;
}